.vscode
build
*/MDK/Listings
*/MDK/Objects
*/MDK/RTE
*/MDK_V5/Listings
*/MDK_V5/Objects
*/MDK_V5/RTE
-p
compile_commands.json
*.map
*.o
*.d
*.htm
*.dep
*.lnp
*.iex
*.lst
*.axf
*.crf
*.hex
*.Bak
*.uvguix.*
*.scvd
*.usb.tmp
JLinkLog.txt
JLinkSettings.ini