*.un~
*.swp
*.bak
*.map
*.bin
!bundles/**/*.bin
JLinkLog.txt
JLinkSettings.ini
.vscode
.cache
.vscode
listing
output
RTE
SVD
.clangd
compile_commands.json
CMakeCache.txt
*.scvd
*.hex
*.elf
*.uvguix.*
*.uvopt
*.uvoptx
verbose
build_log
*.o
*.d
*.axf
*.lnp
*.crf
build
MDK/Objects
MDKV5/Objects
.idea
